/*----------------------------
            font import
----------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
:root{
    --button-color:#E02C6D;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
/* -------------------------------------------------
               Header Section style
----------------------------------------------------*/
header{
    background-color: #2D25A0;
    width: 100%;
    height: 677px;
    margin-bottom: 70px;
}
nav{
    display: flex;
    justify-content: center;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    Width :1140px;
    margin: 40px 0 ;
    align-items: center;
}
.main-nav:hover{
    border: 2px solid #5f5aa5;
}
.nav-link{
    padding-right: 15px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.login-button{
    background-color: var(--button-color);
    width: 123px;
    height: 44px;
}
/* -------------------
   banner section styles
----------------------- */

.banner{
    display: flex;
    justify-content: space-around;
    margin: 50px 120px 0 180px;
    padding: 0 0 115px 0;

}

.banner-text{
    width: 485px;
    height: 230px;
}
.banner-text-font{
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.banner-image img{
    width: 530px;
    height: 438px;
}
.watch-button{
    width: 168px ;
    height: 44px;
    background-color: var(--button-color);
   
}
/* --------------------Players Section Styles -------------
------------------------------------------------------------*/
#players-section{
    display: flex;
    justify-content: center;
    margin-bottom: 165px;
}
.players-detail{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px ;

}
.individual-player-detail img{
    width: 100%;
}
.individual-player-detail{
    width: 330px;
    height: 474px;
    padding: 15px;
    border: 3px solid white;
    box-shadow: 5px 5px 30px rgba(12, 0, 0, 0.178);
}
.individual-player-detail:hover{
    border: 3px solid #2f93d6;
}
.player-name{
    font-weight: 700; 
    font-size: 28px;
}

/* --------------- ------------------------------
                 Highlights Section       
-------------------------------------------------  */
#copa-america{
    display: flex;
    justify-content: space-between;
    margin-left: 182px;
    margin-right: 156px;
    margin-top: 165px;
    margin-bottom: 158px;
}
.highlights{
  width: 469px;
  height: 309px;
  margin-top:  40px; 
}
.highlights:hover{
    border: 3px solid #2f93d6;
}
.highlights-font{
   font-size: 48px ;
   color:  #0A0826;
   margin-top: 10px;
   margin-bottom: 0;
}
.highlights-img{
  width: 567px;
  height: 427px;
}
.highlights-img img{
   width: 100%;
}
.copa-info{
    margin-top: 0;
    margin-bottom: 15px;
}
/*---------- ---------------------------
---------Footer Syle ----------------
---------------------------------------- */
footer{
    display: flex;
    justify-content: center;
}

.footer-football{
   width: 484px;
   height: 213px;
   display: flex;
   flex-direction: column;
   align-items: center;
    margin-top: 0;
    margin-bottom:63px ;
}
.footer-logo{
   width: 484px;
   height: 213px;
}
.footer-logo img{
    width: 100%;
}
.footer-icons{
    margin-bottom:20px;
}
.icon{
    color:  #0B0D17;
    padding:7px;
    border-radius: 25px;
    margin: 5px;
}

/* ===========================
================Media Quaries ==================
=================================================== */

@media only screen and (max-width:688px){
    body{
        width: 688px;
        overflow-x: hidden;
    }
    .links{
        display: none;
    }
    .banner{
        width: 688px;
        margin-left: 35px;
        box-sizing: border-box;
    }
    .banner-text-font{
        font-size: 30px;
        
    }
   .players-detail {
       grid-template-columns: repeat(1,1fr);
       justify-content: center;
       align-items: center;
   }
   .highlights{
       margin-bottom: 20px;
   }
   #copa-america{
       display: grid;
      grid-template-columns: repeat(1,1fr);
       margin-bottom: 150px;
       justify-content: center;
       align-items: center;
   }
}